form(action="", method="get") 
    p.form-title Количество пересадок
    p.form-text
        input(type="checkbox", id="all", name="first", value="Все")
        label 
            span
            |Все
    p.form-text 
        input(type="checkbox", name="", value="Без пересадок")
        label 
            span
            |Без пересадок
    p.form-text
        input(type="checkbox", name="", value="1 пересадка")
        label 
            span
            |1 пересадка
    p.form-text
        input(type="checkbox", name="", value="2 пересадки")
        label 
            span
            |2 пересадки
    p.form-text
        input(type="checkbox", name="", value="3 пересадки")
        label 
            span
            |3 пересадки             