form(action="", method="get") 
    div.form-title 
        p Количество пересадок
    div.form-text
        input(type="checkbox", id="all", name="all", value="Все")
        label(for="all")
            |Все
    div.form-text 
        input(type="checkbox", id="not", name="not", value="Без пересадок")
        label(for="not")
            |Без пересадок
    div.form-text
        input(type="checkbox", id="oneConnection", name="oneConnection", value="1 пересадка")
        label(for="oneConnection")
            |1 пересадка
    div.form-text
        input(type="checkbox", id="twoConnection", name="twoConnection", value="2 пересадки")
        label(for="twoConnection")
            |2 пересадки
    div.form-text
        input(type="checkbox", id="threeConnection", name="threeConnection", value="3 пересадки")
        label(for="threeConnection")
            |3 пересадки             