doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div.container
            div.logo
                img(src="../../images/Logo.png", alt="Logo")
            div.container-price
                aside
                    include ../includes/form.pug
                div.price
                    header.price-header
                        div.header-choose
                            span Самый дешевый
                        div.header-choose 
                            span Самый быстрый
                    main.price-main
                        include ../includes/ticket.pug
                    footer.price-footer
                        button.footer-button
                            span Показать еще 5 билетов!
