input {
    display: none;
}

input[type=checkbox] + label span {
    border: 1px solid #9ABBCE;
    box-sizing: border-box;
    border-radius: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px 8px 8px 8px;
    vertical-align: middle;
}
 input[type=checkbox]:checked + label span::after {
    border: 1px solid #2196F3;
}