@font-face {
    font-family: "Open Sans";
    src: url('./src/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf');
    src: url('./src/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf')  
         
}
