@import '~normalize.css';


$background: #F3F7FA;
$checkboxColor: #9ABBCE;
$mainColor: #2196F3;
$font-family: Open Sass, sans-serif;
$font-color: #4A4A4A;


body{
    margin: 0 auto;
    padding: 0 auto;
    background-color: $background;
    width: 100%;    
}
.container{
    margin: 0 auto;
    max-width: 760px; 
}
.container-price{
    display: flex;
    justify-content: space-between;
    
    
}
.logo {
    text-align: center;
    padding: 0 0 25px 0;
}
.price{
    box-sizing:border-box;
    width: 502px;
    
}
.price-header{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;

}
.header-choose {
    border: 2px solid #DFE5EC;
    background-color: #FFFFFF;
    width: 50%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;  
}
.header-choose:hover {
    border: 2px solid $mainColor;
}
.price-footer{
    display: flex;
    justify-content: center;
}
.footer-button{
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: $mainColor;
    color: #FFFFFF;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0 0 0;

}