@import '~normalize.css';
@import 'ticket';

$background: #F3F7FA;
$checkboxColor: #9ABBCE;
$mainColor: #2196F3;

body{
    margin: 0 auto;
    background-color: $background;
}
.logo {
    text-align: center;
}

